.complaint-card {
  border: 1px solid #ccc;
  border-radius: 4px;
  margin: 10px;
  padding: 10px;
  flex-basis: calc(33.33% - 20px); /* this will make the cards occupy 1/3 of the screen width */
  box-sizing: border-box;
}

.complaint-card-container {
  display: flex;
  flex-wrap: wrap;
}

.resolved-true,
.resolved-false {
  display: inline;
}

.resolved-true {
  color: green;
}

.resolved-false {
  color: red;
}