nav {
  background-image: linear-gradient(to right, #333, #444);
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 25px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

nav ul {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

nav li {
  margin-right: 25px;
}

nav a {
  color: #fff;
  text-decoration: none;
  font-size: 18px;
}

nav a:hover {
  color: #ccc;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 3px;
  padding: 2px 5px;
}

.right-items {
  display: flex;
  align-items: center;
}

.support-team-member {
  font-weight: bold;
  font-size: 18px;
  margin-right: 20px;
}

.sign-out-button {
  background-color: #f44336;
  border: none;
  color: white;
  cursor: pointer;
  font-size: 18px;
  padding: 5px 15px;
  margin-left: 10px;
  border-radius: 5px;
}

.sign-out-button:hover {
  background-color: #da190b;
}
